html {
  font-family: 'Raleway', sans-serif;
}
body {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}

/*HEADER STYLING*/

  .header-background {
    background-color: black;
    height: 150px;
  }
  .header-content {
    color: white;
    height: 150px;
    margin: 0 auto;
  }
  .header-titles {
    display: inline-block;
  }
  .header-titles h1 {
    font-weight: 600;
    display: inline-block;
    margin: 0;
    padding: 8px 0;
  }
  .header-titles h3, .header-titles h4 {
    font-weight: 400;
    margin: 0;
    padding-bottom: 8px;
  }
  .header-titles h3 {
    line-height: 25px;
    font-size: 16px;
  }
  .header-titles h4 {
    font-size: 13px;
  }
  .header-links {
      display: inline-block;
      float: right;
  }
  .header-links ul {
    margin-top: 54px;
    font-size: 20px;
  }
  .header-links ul li {
    float: left;
    border-right: 1px solid white;
    padding: 0 10px;
  }
  .header-links ul li:last-child {
    border-right: none;
  }
  .header-links ul li a {
    color: white;
    text-decoration: none;
  }
  .header-links ul li a.selected {
    font-weight: 600;
    text-decoration: underline;
  }
  .header-links ul li a:hover {
    font-weight: 600;
  }

/*SECTION STYLING*/
.section-background {
  background-color: white;
  width: 100%;

  /*margin-top: 150px;*/
}
.section-content {
  background-color: white;
  margin: 0 auto 105px auto;
  overflow: hidden;
}
img {
  width: 25%;
  margin: 25px 25px 0 0;
}
.p-container {
  background-color: white;
  color: black;
}
.box {
  line-height: 51px;
  padding: 10px 0;
}
.box p {
  margin: 0;
}
.box a {
  color: maroon;
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
.box a:visited {
  color: maroon;
  text-decoration: none;
}
.box a:hover {
  text-decoration: underline;
}

/*BOX LINKS WITH FONTAWESOME*/
.link-container {
  display: inline-block;
  float: right;
  margin: 7px 0 0 25px;
}
.link-container ul {
  background-color: #eee;
  border-radius: 15px;
  padding: 20px 0 10px 0;
}
.link-container ul li {
  margin: 0 20px 20px 20px;
}
.link-container .fa {
  color: gray;
}
.link-container .fa:hover {
  color: maroon;
}
.link-container .fa-github {
  font-size: 75px;
}
.link-container .fa-linkedin-square {
  font-size: 63px;
}
.link-container .fa-stack-overflow {
  font-size: 63px;
}

/*FOOTER STYLING*/
.footer-background {
  background-color: maroon;
  width: 100%;
  height: 85px;
  position: absolute;
  bottom: 0;
}
.footer-content {
  margin: 0 auto;
  background-color: maroon;
  text-align: center;
  color: white;
  height: 85px;
}
.footer-content p {
    margin: 30px 0 0 0;
}
